.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}

.padding-10 {
    padding: 10px;
}

.card-title {
    color: black !important;
    font-weight: 700 !important;
}

.text-center {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}